@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
:root {
  /* Fonts */
  --sans-serif: Helvetica, Arial, sans-serif;
  --cursive: 'Permanent Marker', cursive;

  /* Space */
  --base-space: 1.25em;
  --base-rotation: rotate(-1deg);
  --base-transform-origin: top left;

  /* Colours */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --yellow: rgb(255, 255, 0);
  --blue: rgb(0, 0, 255);
  --red: rgb(255, 0, 0);
  --green: rgb(0, 255, 0);
  --cream: rgb(238, 238, 238);
  --notebook: rgb(246, 236, 163);
  --notebook-v-line: rgb(203, 170, 169);
  --notebook-h-line: rgb(205, 200, 195);
  --square-notebook: rgb(165, 205, 223);
}
