:global * {
  box-sizing: border-box;
}

:global html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

html,
body {
  font-size: 19px;
  line-height: 1.32;
}

body {
  font-family: var(--cursive);
  position: relative;
  background-color: var(--notebook);
  background-image: linear-gradient(
      90deg,
      transparent var(--base-space),
      var(--notebook-v-line) var(--base-space),
      var(--notebook-v-line) calc(var(--base-space) + 2px),
      transparent calc(var(--base-space) + 2px)
    ),
    linear-gradient(var(--notebook-h-line) 0.1rem, transparent 0.1rem);
  background-size: 100% 1.32rem;
}

h1,
h2 {
  color: var(--white);
  font-family: var(--sans-serif);
  margin-top: 0;
  text-shadow: 2px 4px 0 var(--black), -1px -1px 0 var(--black),
    1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
  transform: var(--base-rotation);
  transform-origin: var(--base-transform-origin);
}

section {
  height: 100vh;
  padding: var(--base-space);
  border-bottom: 4px dashed;
}

ul {
  list-style-image: url('../assets/dot.svg');
}

img {
  height: auto;
  display: block;
  width: 100%;
}

section > div {
  max-width: 40em;
  padding: var(--base-space);
}
