.hamburger {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}

.hamburger span {
  background-color: var(--white);
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 var(--black);
  display: block;
  height: 8px;
  margin-top: 5px;
  transition: all 200ms linear;
  width: 50px;
}

body.menu-open .hamburger span {
  box-shadow: none;
  background-color: var(--black);
}

body.menu-open .hamburger span:first-child {
  margin-top: 16px;
  transform: rotate(45deg);
}

body.menu-open .hamburger span:nth-child(2) {
  opacity: 0;
}

body.menu-open .hamburger span:last-child {
  margin-top: -24px;
  transform: rotate(-45deg);
}
