.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em 0;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
  overflow: hidden;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  font-weight: bold;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  margin-top: 1em;
  padding: 0.85em 0;
  width: 100%;
  background: transparent;
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  position: absolute;
}

.input__label::before,
.input__label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 2px dotted;
}

.input__label::after {
  border-bottom: 8px solid var(--hightlight-green);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s;
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  transform: translate3d(0, 0, 0);
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  animation: slide 0.3s forwards;
}

@keyframes slide {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

.form__button {
  display: block;
}

.form label,
.form > span {
  display: block;
  margin-bottom: 0.8em;
}

.form > span {
  /* background-color: blue; */
  /* background-color: rgba(127, 127, 255, 0.6); */
  display: block;
  max-width: 20rem;
  position: relative;
  overflow: hidden;
}

.form input[type='email'] {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 4px dotted;
  outline: none;
  width: 100%;
}

.form > span > span {
  width: 101%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(127, 127, 255, 0.6);
  transform: translate3d(-100%, 0, 0);
  border-bottom: 8px solid black;
  display: inline-block;
  animation: slideLeft 0.35s linear forwards;
}

.form.focus > span > span {
  animation: slideRight 0.35s linear forwards;
}

@keyframes slideRight {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}
