input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form label,
.form > span {
  display: block;
  margin-bottom: 0.8em;
}

.form > span {
  display: block;
  max-width: 20rem;
  position: relative;
  overflow: hidden;
}

.form input[type='email'] {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 4px dotted;
  outline: none;
  width: 100%;
  padding-bottom: 0.25rem;
}

.form > span > span {
  width: 101%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  border-bottom: 8px solid var(--hightlight-blue);
  transition: 0.35s linear all;
}

.form.focus > span > span {
  transform: translate3d(0, 0, 0);
}

.form input[type='submit'] {
  -webkit-appearance: none;
  background-color: var(--white);
  border: 1px solid var(--black);
  border: 2px solid var(--black);
  box-shadow: 2px 2px 0 var(--black);
  box-shadow: 3px 3px 0 var(--black);
  display: block;
  outline: none;
}

.form input[type='submit']:hover,
.form input[type='submit']:focus,
.form input[type='submit']:active {
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 var(--black);
}
